<!DOCTYPE html>
<html>
<head>
    <title>Page Broken</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <form action="/delete/:id" method="get">
        <h2>Que passa ?</h2>
        <input type="text" name="broken" value="">
        <input type="submit" value="Envoyer votre requête">
    </form>
</body>
</html>
